{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "globals": {
    "Promise": true,
    "sails": true,
    "_": true,
    "async": true,
    "User": true
  },

  "rules": {}

}
