{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "globals": {
    "Promise": true,
    "sails": true,
    "_": true,
    "async": true,
    "User": true,
    "Workout": true,
    "Token": true,
    "SavedWorkout": true,
    "ChallengeWorkout": true
  },

  "rules": {
    "func-names": 0
  }
}
